* {
    padding: 0;
    margin: 0;
}

/* ---------------------
    popup styes 
--------------------- */   
.popup,
.popup2 {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  text-align: center;
  z-index: 1000;
  display: block; 
  opacity: 0;
  animation: popup-fade-in 7s forwards;
}

.popup {
  background-color: #4CAF50;
  color: white;
}

.popup2 {
  background-color: #fa2121;
  color: white;
  cursor: not-allowed;
}

@keyframes popup-fade-in {
  0% {
    opacity: 0;
    top: 0;
  }
  10% {
    opacity: 1;
    top: 20px;
  }
  90% {
    opacity: 1;
    top: 20px;
  }
  100% {
    opacity: 0;
    top: 0;
  }
}

/* ---------------------
    login page 
--------------------- */   

.login {
    background-color: #c0dede;
    font-family: sans-serif;
}

.login_arrow {
    position: absolute;
    display: block;
    height: 60px;
    width: auto;
    margin: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.login_arrow:hover {
    opacity: 0.5;
    transform: translateY(-2px);
}

.login_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: auto;

}


.login_div {
    display: block;
    height: 350px;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #EAF3FA;
    padding: 20px;
    text-align: center;
}

.login_div form input {
    height: 40px;
    width: 350px;
    text-align: center;
    font-size: large;
    margin-top: 50px;
    border-color: transparent;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.login-button {
    height: 40px;
    width: 350px;
    font-size: large;
    margin-top: 60px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

/* ---------------------
    register page 
--------------------- */ 

.register {
    background-color: #c0dede;
    font-family: sans-serif;
}

.register_arrow {
    position: absolute;
    display: block;
    height: 60px;
    width: auto;
    margin: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.register_arrow:hover {
    opacity: 0.5;
    transform: translateY(-2px);
}

.register_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: auto;

}

.register_div {
    display: block;
    height: 400px;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #EAF3FA;
    padding: 20px;
    text-align: center;
}

.register_div form ul {
    list-style-type: none;
}

.register_input {
    height: 40px;
    width: 350px;
    text-align: center;
    font-size: large;
    margin-bottom: 40px;
    border-color: transparent;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.register_inputww {
    height: 40px;
    width: 350px;
    text-align: center;
    font-size: large;
    margin-top: 10px;
    border-color: transparent;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.register-button {
    height: 40px;
    width: 350px;
    font-size: large;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.register-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}